@charset "utf-8"; /* & J'apporte mon encodage. */

/*? Les règles et styles généraux. */

/*µ J'applique ses règles à tout le site. */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*µ Je rend le scrool plus léger. */
html {
    scroll-behavior: smooth;
}

/*µ Je change les tailles et la polices des lettres. */
* {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-size: 12vh;
}
h2 {
    font-size: 5vh;
}
h3 {
    font-size: 3.5vh;
}
p, a, q {
    padding: 2px;
    margin: 4px;
}
p, a {
    font-size: 2.5vh;
}
q {
    font-size: 2vh;
}
li, label {
    font-size: 1.8vh;
}

/*µ J'enlève le soulignement de mes liens. */ 
a { 
    text-decoration: none;
}

/*µ J'espace mes paragraphhes. */
p {
    padding: 10px;
    margin: 10px;
}

/*µ J'enlève la margin du hr pour empêcher la création de trou. */
hr {
    margin: 0;
}

/*µ Je modifie certaines des règle de Boostrap sur les titres. */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0 ;
    line-height: 1.5;
}

/*µ Je modifie les interlignes. */
p, a, q {
    line-height: 4vh;
}

/*µ J'enlève les marges sur les côtés qui créaient des espaces blancs autours des a. */
a {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

/*µ Je modifie les espaces entre les lettres et les mots. */
p, a, q, h1, h2, h3, h4 {
    word-spacing: 0.25vh;
    letter-spacing: 0.05vh;
}

/*µ Je crée un effet parallax. */
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*µ Les transitions. */
.transition{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*µ Le style pour les sections du site. */
/*ù Je travaille sur les sections qui comporteront les titres. */
.titreDeSection { 
    background-color: #BF8654;
    /* display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px; */
    text-align: center;
}

/*ù Je crée un background bleu pour les sections. */
.sectionbleu { 
    background-color: #D9C589;
}

/*µ Je centre mes citations. */
q {
    text-align: center;
}

/*? Fin des règles et styles généraux. */


/*, Ma barre de naviguation. */

/*: Je place ma barre de naviguation par-dessus tout les éléments du site. */
#topNav {
    z-index: 99;
}
.sideNav {
    z-index: 100;
}

/*? Le mode ordinateur. */

/*: La liste non-ordonnée qui sert de naviguation. */
.ham, #topNav h2, sideNav {
    visibility: hidden;
}

/*: Les caractéristiques générales. */
#topNav {
    width: 100vw;
    height: 4.5vh;
    background-color: #076DF2;
    position: fixed;
    display: flex;
    color: white;
}

/*: La liste du menu de naviguation. */
#topNav ul {
    display: flex;
    align-items: center;
    margin: 10px;
    white-space: nowrap; 
}

/*: Les liens de la liste non-ordonnée. */
#topNav ul li {
    list-style: none;
    display: inline-block;
    margin: 10px;
}

/*: Les liens de naviguation. */
#topNav ul li a {
    color: white;
    text-decoration: none;
    font-size: 2vh;
    padding: 8px 8px;
}

/*: Les liens de naviguation lorsque l'on reste dessus au survol. */
#topNav ul li a:hover, #topNav ul li a:focus {
    border-bottom: 2px solid white;
}

/*? Le mode mobile. */

/*: L'icone du menu burger. */
#topNav .fas {
    margin: 12px;
    cursor: pointer;
}

/*: Le titre de la navbar. */
#topNav h2 {
    margin: auto;
    font-size: 3vh;
}

/*: La naviguation verticale. */
.sideNav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 101;
    background-color: black;
    width: 50vw;
    height: 100vh;
    color: white;
}

/*: La fonction hide qui me permet de cacher le menu vertical. */
.hide2 {
    visibility: hidden;
    height:0;
    opacity: 0;
    transition: opacity 600ms, visibility 600ms, height 600ms;
}

/*: La fonction show qui me permet de faire apparaître le menu vertical. */
.show2 {
    display: block;
    transition: opacity 600ms, visibility 600ms, height 600ms;
}

/*: L'icone X qui sert à fermer le menu vertical. */
.menuX {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    height: 2rem;
    margin-left: 0.5rem;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

/*: La liste non-ordonnée qui sert de naviguation. */
.sideNav ul {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding-top: 5rem;
}

/*: Les liens de la liste non-ordonnée. */
.sideNav ul li {
    display: list-item;
}

/*: Les liens de naviguation. */
.sideNav ul li a {
    display: block;
    color: white;
    padding-bottom: 10px;
    margin-top: 1rem;
    border-bottom: 2px solid black;
    text-decoration: none;
    font-size: 3.5vh;
}

/*: Les liens de naviguation lorsque l'on reste dessus au survol. */
.sideNav ul li a:hover, .sideNav ul li a:focus {
    border-bottom: 2px solid white;
}


/*, La section "acceuil" du site. */

/*% Le fond et le texte de l'acceuil. */
#acceuil { 
    /* width: 99.35vw; */
    height: 100vh;
    background-image: url(../img/acceuil/wormhole.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}

/*% Mon nom. */
h1 { 
    display: flex;
    flex-direction: row;
    color: snow;
}

/*% Le petit trait qui sépare les deux titres. */
#acceuil hr {
    width: 60vh;
    border: 1px solid ghostwhite;
}

/*% Je stylise le curseur au survol du titre. */
#moi:hover {
    cursor: cell;
}

/*. L'animations. */

#moi {
    animation-duration: 3.5s;
    animation-name: pop-up;
    text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 0 7px 0 black, 0 8px 0 black, 0 9px 0 black, 0 50px 30px rgba(0, 0, 0, 0.3);
}

@keyframes pop-up {
    0% {
        transform: translateY(0);
        transform-origin: 50% 50%;
        text-shadow: none;
    }
    100% {
        transform: translateY(-50px);
        transform-origin: 50% 50%;
        text-shadow: 0 1px 0 black, 0 2px 0 black, 0 3px 0 black, 0 4px 0 black, 0 5px 0 black, 0 6px 0 black, 0 7px 0 black, 0 8px 0 black, 0 9px 0 black, 0 50px 30px rgba(0, 0, 0, 0.3);
    }
}


/*, La section À propos. */

/*+ Je centre le texte et l'image. */
.propos { 
    display: flex;
    justify-content: center;
    align-items: center;
}

/*+ Je règle la taille de l'image. */
.image { 
    padding: 25px;
    max-width: 100vw;
    border-radius: 0px;
}

/*+ Je crée l'ancre qui va permettre de remonter tout en haut du site depuis le coin inférieur droit. */
.propos .fas {
    background-color: white;
    font-size: 8vh;
    position: fixed;
    bottom: 10px;
    right: 10px;
    opacity: 20%;
    z-index: 5;
}

/*+ Je change le curseur pour montré qu'une animation est à attendre. */
#titrePropos:hover {
    cursor: wait;
}

/*+ Je cache la section avant l'arrivée de l'utilisateur. */
.hidePropos {
    display: none;
}

/*+ Les animations. */

/*, L'image qui va rebondir. */
.proposImg {
    animation-duration: 4s;
    animation-name: bounce-in;
}

@keyframes bounce-in {
    0% {
        transform: scale(0);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38% {
        transform: scale(1);
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55% {
        transform: scale(0.7);
        animation-timing-function: ease-in;
    }
    72% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
    81% {
        transform: scale(0.84);
        animation-timing-function: ease-in;
    }
    89% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
    95% {
        transform: scale(0.95);
        animation-timing-function: ease-in;
    }
    100% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}

/*, Le texte qui va s'étendre. */
.proposP {
    animation-duration: 4s;
    animation-name: apparition;
}

@keyframes apparition {
    0% {
        letter-spacing: -0.5em;
        transform: translateZ(-700px);
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}


/*, La première transition : Les loisirs. */

/*) L'image de fond. */
#transitionLoisirs { 
    background-image: url(../img/transitions/loisirs.jpg);
    background-position: center;
    color: white;
}


/*, La section Mes passions. */

/*$ Je modifie les curseurs de la section. */

/*£ Je modifie le curseur pour indiquer les zones sur lesquelles il est possible d'appuyer pour activer les hide and show. */
.pointeur:hover {
    cursor: pointer;
}

/*£ Je modifie le curseur de la section lecture pour indiquer qu'un alias apparaît lors du survol. */
#book:hover {
    cursor: alias;
}

#moncarrousel:hover {
    cursor: move;
}

/*£ Le curseur de la section jeux vidéo va devenir un pointeur de FPS. */
#JV:hover {
    cursor: crosshair;
}

/*£ Il n'y a rien à faire sur la zone de la science-fiction et du fantastique, le curseur va donc disparaître. */
#SFF:hover {
    cursor: none;
}

/*$ Le hide and show de la section mes passions. */
.hide {
    display: none;
    height:0;
    opacity: 0;
    transition: opacity 600ms, visibility 600ms, height 600ms;
}
.show {
    display: block;
    transition: opacity 600ms, visibility 600ms, height 600ms;
}

/*: J'ajoute une bordure rondes aux images dans les cartes. */
:root {
    --card-img-top: border-radius: 8px;
}
.card-img-top {
    border-radius: 8px;
}


/*, La seconde transition : Actuellement. */
#transitionActuellement {
    background-image: url(../img/transitions/actuellement.jpg);
    color: white;
    text-align: center;
}


/*, La section mes compétences. */

/*? Je centre mon texte. */
.cvComp {
text-align: center;
}

.cvComp p {
    padding-top: 0;
    margin-top: 0;
}

/*? Je met une taille fixe à mes logos. */
.logo-competences {
    height: 100px;
}

/*? La bordure qui sépare les différentes catégorie de compétence. */
.border-separate-skills {
    border-bottom: 1px dashed #2e1f6b!important;
    width: 100%;
}

/*? Je centre les logos. */
.centré {
    text-align: center;
}

/*? Je cache les images avant le premier lancement de l'animation. */
.hideComptecences {
    display: none;
}

/*? J'anime mes logos. */

/*= J'anime les languages */
.animationLanguages {
    animation-duration: 3s;
    animation-name: languages;
}

@keyframes languages {
    0% {
        transform: translateY(-800px) rotate(-720deg);
        filter: blur(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0) rotate(0deg);
        filter: blur(0);
        opacity: 1;
    }
}

/*= J'anime les frameworks. */
.animationFrameworks {
    animation-duration: 3s;
    animation-name: frameworks;
}

@keyframes frameworks {
    0% {
        transform: translateX(-1000px) rotate(-720deg);
        filter: blur(50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0) rotate(0deg);
        filter: blur(0);
        opacity: 1;
    }
}

/*= J'anime les CMS. */
.animationCms {
    animation-duration: 3s;
    animation-name: CMS;
}


@keyframes CMS {
    0% {
        transform: translateX(1000px) rotate(720deg);
        filter: blur(50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0) rotate(0deg);
        filter: blur(0);
        opacity: 1;
    }
}


/*= J'anime les outils. */
.animationOutils {
    animation-duration: 3s;
    animation-name: outils;
} 


@keyframes outils {
    0% {
        transform: translateY(800px) rotate(720deg);
        filter: blur(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
}


/*, La troisième transition : Les études. */

/*. J'applique une image en fond pour le parallax. */
#transitionEtude {
    background-image: url(../img/transitions/etude.jpg);
    color: black;
}


/*, La section portfolio. */

/*+ Les boutons pour sélectionner les catégories. */
#myBtnContainer {
    text-align: center;
    padding-top: 15px;
}
.bouton {
    border: none;
    outline: none;
    padding: 12px 16px;
    margin: 2px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 1.6vh;
}
.bouton:hover {
    background-color: #ddd;
}

/*+ Le bouton actif. */
.actif {
    background-color: #666;
    color: white;
}
.actif:hover {
    color: black;
}

/*+ J'espace mes cartes. */
.sectionPortfolio {
    display: flex;
    padding: 10px;
    flex-wrap: wrap;
}

/*+ Je modifie la structure des cartes. */
.cartePortfolio {
    background-color: #D9AE89;
    padding: 10px;
    padding-bottom: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 1vw;
    border: 3px solid black;
    width: 48vw;
}

/*+ Je cache les catégories qui ne sont pas sélectionner. */
.filtre {
    display: none;
}

/*+ Je crée les titres pour les cartes. */
.titreCarte {
    text-align: center;
    border: 3px solid black;
    display: block;
}

/*+ Je crée les règles pour les icônes github des titres. */
.cartePortfolio .fab {
    color: black;
    font-size: 3.5vh;
}

/*+ Je crée les règles pour les images des cartes. */
.imageCarte {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    max-width: 100%;
    max-height: 100%;
}

/*+ Je modifie l'alignement des descriptions des cartes. */
.cartePortfolio p {
    margin: 0;
    margin-bottom: 10px;
}

/*+ Je centre les listes des cartes. */
.sectionPortfolio ul {
    text-align: center;
    margin-top: 15px;
}

/*+ Je crée les règles pour la liste des technologie utilisés des carte. */
.listeTech {
    background-color: white;
    display: inline;
    border-radius: 999px;
    margin-bottom: 1000px;
    word-spacing: 0.4vh;
    letter-spacing: 0.1vh;
    line-height: 2vh;
    padding: 10px;
    margin-right: 12px;
    font-size: 2vh;
}

/*+ L'animation à lancé lors de la sélection d'une catégorie. */
.animationPf {
    animation-duration: 3s;
    animation-name: rotation;
}

@keyframes rotation {
    0% {
        transform: rotateY(0);
    }
    100% {
        transform: rotateY(360deg);
    }
}


/*, La quatrième transition : L'informatique. */

/*. J'applique une image en fond pour le parallax. */
#transitionInformatique {
    background-image: url(../img/transitions/informatique.jpg);
    color: white;
}


/*, La section contact. */

/*? Je réduis la taille du texte pour accepter les conditions d'utilisation. */
.accepte label, .accepte a {
    font-size: 1.5vh;
    line-height: 2.2vh;
}

/*? J'applique une couleur aux textes qui signale les cases obligatoire. */
.obligatoire {
    color: white;
}

/*? Je change le curseur pour montré qu'une animation est à attendre. */
#titreContact:hover {
    cursor: wait;
}

/*? Je cache la section avant l'arrivée de l'utilisateur. */
.hideContact {
    display: none;
}

/*? Les animations. */

/*. L'arrivée depuis la gauche. */
.slideDroite {
    animation-duration: 3s;
    animation-name: slide-gauche;
}

@keyframes slide-gauche {
    0% {
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/*. L'arrivée depuis la droite. */
.slideGauche {
    animation-duration: 3s;
    animation-name: slide-droite;
}

@keyframes slide-droite {
    0% {
        transform: translateX(1000px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/*. L'arrivée depuis le bas. */
.slideBas {
    animation-duration: 3s;
    animation-name: slide-bas;
}

@keyframes slide-bas {
    0% {
        transform: translateY(1000px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/*, Le footer. */

/*= J'enlève les marges des paragraphes dans le footer. */
.fin .separation {
    padding: 0;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;
}

/*= Je centre les éléments du footer. */
footer {
    text-align: center;
    background: #592A19;
}

/*= Je change les couleurs des textes du footer. */
footer p, footer li, footer a, footer .fab {
    color: white;
}

/*= j'enlève le style de la liste, et aligne les éléments. */
.fin, .rsfin  {
    list-style: none;
    display: flex;
    justify-content: center;
}

/*= J'ajoute une marge aux icones. */
.rsfin .fab {
    padding-right: 8px;
    padding-left: 8px;
}

/*= J'ajoute une marge à mes liens. */
.politique {
    padding-right: 30px;
}

/*= J'enlève un espace entre la section contact et le footer. */
footer p {
    margin-top: 0;
    padding-top: 0;
}

/*= J'enlève le margin des icônes qui créait un espace blanc sous le footer. */
.rsfin {
    margin: 0;
}




/*, Les règles pour les mobiles et les tablettes. */

/*+ Le mode responsive de la barre de naviguation. */
@media screen and (max-width: 1024px) {
    /*$ Je remet les éléments de la barre de naviguation mobile à l'écran. */
    .ham, #topNav h2, sideNav {
        visibility: visible;
    }
    /*$ Je cache les éléments de la barre de naviguation pour ordinateur. */
    #topNav ul {
        display: none;
    }
}

/*+ Je cible uniquement les mobiles. */
@media screen and (max-width: 600px) {
    html {
        width: 100vw;
        height: 100vh;
    }

    /*$ Les tailles pour les mobiles. */
    h1 {
        font-size: 8vh;
    }
    #acceuil h2 {
        font-size: 6.3vh;
    }
    #acceuil hr {
        width: 75vw;
    }
    p, a {
        font-size: 3vh;
    }
    q, li {
        font-size: 2vh;
    }
    ul {
        font-size: 2.8vh;
    }
    transitionActuellement p {
        font-size: 2.8vh;
    }

    /*µ Je modifie les interlignes. */
    p, a, q {
        line-height: 4.5vh;
    }

    /*$ J'agrandis la barre de naviguation pour les mobiles. */
    #topNav {
        height: 9vh;
    }

    /*$ J'ajoute un peu d'espace entre le bouton et le titre de la barre de naviguation. */
    .ham {
        margin-right: 10px;
    }

    /*$ Le menu de naviguation doit prendre tout l'écran pour que les liens soient visibles. */
    .sideNav {
        width: 100vw;
    }

    /*$ Je réajuste mes transitions pour qu'elles prennent tout l'écran. */
    .transition { 
        width: 100vw;
    }

    /*$ Les logos de la section compétences sont un peu gros pour de petits écrans. */
    .logo-competences {
        height: 50px;
    }
    
    /*$ Je centre le titre sur l'image. */
    .présentationPortfolio {
        top: 20%;
        left: 45%;
    }

    /*$ J'éloigne la case à cocher et le bouton d'envoie du centre de l'écran. */
    .accepte, .envoyer {
        padding-left: 30px;
    }

    /*$ J'augmente la taille du texte pour accepter les conditions d'utilisation. */
    .accepte label, .accepte a {
        font-size: 2.5vh;
        line-height: 3.2vh;
    }

    /*$ J'éloigne le footer du bord de l'écran. */
    /* .fin {
        padding-left: 10vw;
    } */
}


/*+ Je cible uniquement les tablettes. */
@media screen and (min-width: 601px) and (max-width: 1024px) {
    /*$ J'agrandis la barre de naviguation pour les tablettes. */
    #topNav {
        height: 5.5vh;
    }

    /*$ Je centre le titre sur l'image. */
    .présentationPortfolio {
        top: 30%;
        left: 50%;
    }
}

/*ù Je cible les tablettes et les mobiles. */
@media only screen and (max-device-width: 1366px) {
    /*$ Je réajuste mon acceuil pour qu'il prenne tout l'écran et je le centre. */
    #acceuil { 
        width: 100vw;
        text-align: center;
    }

    /*$ Je retire l'effet parallax sur le scroll des téléphones et tablette. */
    .parallax {
    background-attachment: scroll;
    width: 100vw;
    }

    /*$ Le texte doit passer sous la photo pour la section À propos. */
    .propos { 
        display: flex;
        flex-direction: column;
    }

    /*$ J'augmente la place sous les compétences. */
    .competence {
        padding-bottom: 12px;
    }

    .sectionPortfolio {
        flex-direction: column;
    }

    /*$ Les cartes du portfolio doivent prendre tout l'écran. */
    .cartePortfolio {
        width: auto;
        margin-top: 15px;
    }

    /*$ L'espace ajoouté était trop grand pour cette section particulière, je le réduit donc. */
    .cvPortolio {
        margin-top: 5px;
    }

    /*$ J'augmente l'espace séparant mes sections. */
    .textePortfolio {
        padding-bottom: 5px;
    }

    /*$ J'espace mes boutons. */
    .bouton {
        margin: 5px;
    }

    /*$ La section contact doit apparaître à l'écran. */
    .hideContact {
        display: block;
    }

    /*$ Je modifie le footer.  */
    .droit {
        padding-top: 1vh;
    }

    .fin, .rsfin {
        text-align: center;
    }
}