/*
: ************************************************************************************************************
										% Je cible uniquement les mobiles.
: ************************************************************************************************************
*/

@media screen and (max-width: 600px) {

	/*
	. --------------------------------------------------------------------------------
									£ La barre des réseaux sociaux.
	. --------------------------------------------------------------------------------
	*/

	/*è Réduction de l'espace entre les icônes. */
	#socialBarHeader em {
		padding-left: 18px;
	}

    /*
	. --------------------------------------------------------------------------------
									£ La navbar.
	. --------------------------------------------------------------------------------
	*/

    /*è Réduction du logo de la side nav. */
    #logoSideNavbar {
        height: 7vh;
    }

}

/*
: ************************************************************************************************************
                                            % Je cible uniquement les tablettes.
: ************************************************************************************************************
*/

@media screen and (min-width: 601px) and (max-width: 1024px) {

    /*$ Éloignement du bouton burger du bord de l'écran. */
    #ham {
        margin-right: 15vw;
    }

    /*$ Centrage de la liste des liens de la side nav. */
    #listeLienSideMenu {
        padding-top: 20vh;
    }

}

/*
: ************************************************************************************************************
                                            % Je cible les tablettes et les mobiles.
: ************************************************************************************************************
*/

@media screen and (max-width: 1024px) {

    /*
    : ************************************************************************************************************
                                                % La barre des réseaux sociaux.
    : ************************************************************************************************************
    */

	/*è Réduction de la taille des la barre des réseaux sociaux en mode responsive. */
	#socialBarHeader {
		height: 4vh;
	}

	/*è Réduction de l'espace entre la dernière icône et le bord de l'écran. */
	#socialBarHeader .fa-google {
		padding-right: 25px;
	}

    /*
    : ************************************************************************************************************
                                                % La navbar.
    : ************************************************************************************************************
    */

    /*
    . --------------------------------------------------------------------------------
            £ Je montre les éléments de la side nav, et cache ceux de la mainNav.
    . --------------------------------------------------------------------------------
    */

    /*$ Réapparition du titre et du bouton burger de la side nav. */
    .openSideNav {
        display: flex;
    }

    /*$ Disparition des liens et du logo du mode ordinateur. */
    #liensMainNavbar, .logoTitreMainNavbar {
        display: none;
    }

    /*$ Je remet les éléments de la barre de navigation mobile à l'écran. */
    #ham, #topNav h1, sideNav {
        display: block;
    }

    /*$ Séparation des icônes et des liens de la side nav. */
    #sideMenu1 em {
        padding-right: 10px;
    }

    /*
    . --------------------------------------------------------------------------------
                                £ Modification de la side nav
    . --------------------------------------------------------------------------------
    */

    /*$ Réduction de la taille de la navbar. */
    .navbar {
        height: 9vh;
    }

    /*
    : ************************************************************************************************************
                                                % Le footer.
    : ************************************************************************************************************
    */

	/*, Modification de la disposition des éléments du footer, et apparition du copyright pour les mobiles. */
	footer, #copyrightMobile, #navFooter {
		display: block;
	}

	/*. --------------------Le texte du copyright.-------------------- */

	/*, Disparition du texte pour les ordinateurs. */
	#copyright {
		display: none;
	}

	/*, Espacement du texte du copyright pour les mobiles. */
	#texteCopyrightMobile {
		padding-top: 1vh;
	}

	/*. --------------------La mini navigation du footer.-------------------- */

	/*, Les marges étaient de trop. */
	#navFooter {
		margin: 0;
	}

	/*, Espacement des liens  */
	.lienFooter {
		margin-top: 1vh;
	}
}