/*
: ************************************************************************************************************
										% Je cible uniquement les mobiles.
: ************************************************************************************************************
*/

@media screen and (max-width: 600px) {

	/*
	. --------------------------------------------------------------------------------
									£ L'accueil.
	. --------------------------------------------------------------------------------
	*/

	/*= Réduction de la taille du titre de l'accueil. */
	#accueil h2 {
		font-size: 6vh;
	}

	/*
	. --------------------------------------------------------------------------------
									£ Les professeurs.
	. --------------------------------------------------------------------------------
	*/

	/*- Réduction de la taille de la photo qui apparaît pour les mobiles. */
	.photoProf {
		height: 225px;
		width: 225px;
	}

	/*- Réduction de la taille du cadre qui apparaît pour les mobiles. */
	.panneauProf {
		width: 225px;
	}

	/*
	. --------------------------------------------------------------------------------
									£ Les témoignages.
	. --------------------------------------------------------------------------------
	*/

	/*. --------------------L'en-tête des témoignages.-------------------- */

	/*é Les éléments de l'en-tête passent les uns au-dessus des autres pour les mobiles. */
	.enTeteTemoignage {
		display: block;
	}

	/*é Centrage des éléments de l'en-tête pour les mobiles. */
	.noteTemoignage {
		text-align: center;
	}
	.nomTemoin {
		text-align: center;
	}
	.dateTemoignage {
		text-align: center;
	}

	/*é Espacement autour des étoiles pour les mobiles. */
	.noteTemoignage em {
		margin-top: 1vh;
		margin-bottom: 1.5vh;
	}
}

/*
: ************************************************************************************************************
										% Je cible uniquement les tablettes.
: ************************************************************************************************************
*/

@media screen and (min-width: 601px) and (max-width: 1024px) {

	/*
	. --------------------------------------------------------------------------------
									£ L'accueil.
	. --------------------------------------------------------------------------------
	*/

	/*= Réduction de la taille du titre de l'accueil. */
	#accueil h2 {
		font-size: 8vh;
	}

	/*= Réduction de la taille du lien de l'accueil. */
	#accueil p, #accueil .fa-solid {
		font-size: 5vh;
	}

	/*
	. --------------------------------------------------------------------------------
									£ Les professeurs.
	. --------------------------------------------------------------------------------
	*/

	/*. --------------------Les cadres photos.-------------------- */

	/*- Réduction de la taille de la photo pour les tablettes. */
	.photoProf {
		height: 400px;
		width: 400px;
	}

	/*- Réduction de la taille du cadre pour les tablettes. */
	.panneauProf {
		width: 400px;
	}

	/*. --------------------Le carousel.-------------------- */

	/*- Réduction de la taille des flèches pour les tablettes. */
	#carouselProf em {
		font-size: 7vh;
	}

	/*- Éloignement du bord de l'écran de la flèche gauche du carousel pour les tablettes. */
	#flecheGaucheProf {
		margin-left: 5vw;
	}

	/*- Éloignement du bord de l'écran de la flèche droite du carousel pour les tablettes. */
	#flecheDroiteProf {
		margin-right: 5vw;
	}
}

/*
: ************************************************************************************************************
										% Je cible les tablettes et les mobiles.
: ************************************************************************************************************
*/

@media only screen and (max-device-width: 1024px) {

	/*
	. --------------------------------------------------------------------------------
									£ Les cours de musique.
	. --------------------------------------------------------------------------------
	*/

	/*& Le titre ne doit pas s'étaler sur tout la longueur de l'écran. */
	#introCoursMusique {
		margin-left: 5vw;
		margin-right: 5vw;
	}

	/*& Permet d'empiler les parties de la section et de réduire l'espacement entre le titre et l'icône du CD. */
	#courMusique {
		display: block;
		margin: 3vh 3vw;
	}

	/*. --------------------La zone de texte.-------------------- */

	/*& Disparition de l'icône du CD du paragraphe.  */
	#cdCour {
		display: none;
	}

	/*& Apparition de l'icône du CD de la version mobile de la page. */
	#cdCourMobile {
		display: block;
		text-align: center;
		margin-bottom: 3vh;
	}

	/*& Augmentation de la taille du bouton, centrage du texte et réduction de la taille du lien. */
	#lienCour {
		display: block;
		text-align: center;
		font-size: 3.5vh;
	}

	/*& Réduction de l'espace entre le bouton et le texte. */
	#texteCour {
		margin-bottom: 3vh;
	}

	/*. --------------------La zone d'illustration.-------------------- */

	/*& Augmentation de l'espace entre le bouton et la section des illustrations. */
	#illustrationCour {
		margin-top: 3vh;
	}

	/*& Restructuration de l'image. */
	#imgCour {
		width: 80vw;
		border: 5px solid #b7774a;
		border-radius: 4px;
	}

	/*& Augmentation de la taille du lecteur audio. */
	#audioCour {
		width: 80vw;
		margin-top: 2vh;
	}

	/*
	. --------------------------------------------------------------------------------
									£ Les professeurs.
	. --------------------------------------------------------------------------------
	*/

	/*- Centrage du sous-titre en mode responsive. */
	#sousTitreProfesseur {
		display: block;
		text-align: center;
	}

	/*. --------------------Les cadres photos.-------------------- */

	/*- Disparition des cadres du mode ordinateur. */
	.emplacementCadreProf {
		display: none;
	}

	/*- Apparition du cadre du mode responsive.  */
	#emplacementCadreProfMobile {
		display: block;
	}

	/*- Réduction de la taille du texte des panneaux en mode responsive. */
	.panneauProf {
		font-size: 3.5vh;
	}

	/*. --------------------Le carousel.-------------------- */

	/*- Ajout de marges autour du carousel en mode responsive. */
	#carouselProf {
		margin-top: 3vh;
		padding-bottom: 3vh;
	}

	/*- Réduction de la taille des flèches du carousel en mode responsive. */
	#carouselProf em {
		font-size: 5vh;
	}

	/*- Cette marge empêche le centrage du cadre en mode responsive. */
	#flecheGaucheProf {
		margin-right: 0;
	}

	/*
	. --------------------------------------------------------------------------------
									£ Les témoignages.
	. --------------------------------------------------------------------------------
	*/

	/*é Les témoignages vont s'empiler en mode responsive. */
	#temoignages {
		display: block;
	}

	/*é Augmentation de la taille et centrage des témoignages en mode responsive. */
	.temoignage {
		width: 90vw;
		margin: 5vh 5vw;
	}

	/*. --------------------L'en-tête des témoignages.-------------------- */

	/*é Centrage du logo du témoin. */
	.logoTemoignage {
		margin: 1.5vh auto 1vh;
	}

	/*é Centrage de la note du témoin. */
	.noteTemoignage {
		margin: auto;
	}

	/*. --------------------Le corps des témoignages.-------------------- */

	/*é Espacement du texte du témoignage. */
	.corpsTemoignage {
		padding-left: 5vw;
		padding-right: 5vw;
	}
}